@page "/Blog-Category/{Category}"

<div class="flex justify-between container mx-auto">
    <div class="w-full lg:w-8/12">
        <!--Last X Posts-->
        <section class="text-gray-600 body-font overflow-hidden">
            <div class="container px-5 py-24 mx-auto">
                <div class="-my-8 divide-y-2 divide-gray-100">
                    @foreach (var post in BlogService.BlogPosts.Where(p => p.Category == Category).Take(5))
                    {
                        var postLink = $"Blog/{post.Url}";
                        <div class="py-8 flex flex-wrap md:flex-nowrap">
                            <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                                <span class="font-semibold title-font text-gray-700">@post.Category</span>
                            </div>
                            <div class="md:flex-grow">
                                <NavLink href="@postLink">
                                    <h2 class="text-2xl font-medium text-blue-400 title-font mb-2">@post.Title</h2>
                                </NavLink>
                                <p class="leading-relaxed">@post.Lede</p>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </section>
    </div>
    <!--Left Side Bar-->
    <BlogCategoryBar />
</div>