@inject IBlogService BlogService

<div class="-mx-8 w-4/12 hidden lg:block">
    <div class="mt-10 px-8">
        <h1 class="mb-4 text-xl font-bold text-gray-700">Categories</h1>
        <div class="flex flex-col bg-white px-4 py-6 max-w-sm mx-auto rounded-lg shadow-md">
            <ul>
                @foreach (var cat in BlogService.BlogCategories)
                {
                    var catLink = $"Blog-Category/{cat}";
                    <li>
                        <NavLink href="@catLink" class="text-gray-700 font-bold mx-1 hover:text-gray-600 hover:underline">
                            - @cat
                        </NavLink>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>