<aside class="visible flex flex-col items-center bg-white text-gray-700 shadow h-full">
    <!-- Side Nav Bar-->

    <div class="h-16 flex items-center w-full justify-self-start">
        <!-- Logo Section -->
        <a class="h-6 w-6 ml-6" href="">
            <img class="h-6 w-6 "
                 src="images/icon/icon-512.png"
                 alt="Open Book Logo" />
        </a>
    </div>

    <ul class="">
        <!-- Items Section -->
        <li class="">
            <NavLink href="" Match="NavLinkMatch.All" class="transition-colors duration-200 hover:bg-blue-100 h-16 px-6 items-center w-full flex ">
                <svg class="h-5 w-5 justify-self-start" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" aria-labelledby="title"
                     aria-describedby="desc" role="img" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <title>Property</title>
                    <desc>A line styled icon from Orion Icon Library.</desc>
                    <path data-name="layer2"
                          fill="none" stroke="#202020" stroke-linecap="round" stroke-miterlimit="10"
                          stroke-width="2" d="M54 22.6V8h-9v7.445M40 62h14V29.769M10 30v32h14" stroke-linejoin="round"></path>
                    <circle data-name="layer2" cx="32" cy="29" r="5" fill="none" stroke="#202020"
                            stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" stroke-linejoin="round"></circle>
                    <path data-name="layer1" fill="none" stroke="#202020" stroke-linecap="round"
                          stroke-miterlimit="10" stroke-width="2" d="M24 42h16v20H24zm8-37L2.436 28.651a.5.5 0 0 0-.036.749l3.287 3.287a.5.5 0 0 0 .668.035L32 12l25.65 20.718a.5.5 0 0 0 .668-.035l3.287-3.283a.5.5 0 0 0-.041-.744z"
                          stroke-linejoin="round"></path>
                </svg>
                <div class="hidden md:block text-2xl pl-8">Home</div>
            </NavLink>
        </li>
        <li class="">
            <NavLink href="blog" class="transition-colors duration-200 hover:bg-blue-100 h-16 px-6 items-center w-full flex">
                <svg class="h-5 w-5 "
                     viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg" aria-labelledby="title" aria-describedby="desc" role="img" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <title>Feather</title>
                    <desc>A line styled icon from Orion Icon Library.</desc>
                    <path d="M51.491 12.509L2 62m19.938-19.939V26.517M32.41 31.59h16.651m-21.654 5.005h16.815"
                          stroke-width="2" stroke-miterlimit="10" stroke="#202020" fill="none" data-name="layer2"
                          stroke-linejoin="round" stroke-linecap="round"></path>
                    <path stroke-width="2" stroke-miterlimit="10" stroke="#202020"
                          fill="none" d="M42.1 21.9V8.169c-10.828 5.992-23.594 17.8-31.528 41.086l2.087 2.086 2.087 2.088C61.553 37.478 62 2 62 2a41.974 41.974 0 0 0-13.147 3.014l-6.634 16.767"
                          data-name="layer1" stroke-linejoin="round" stroke-linecap="round"></path>
                </svg>
                <span class="hidden md:block text-2xl pl-8">Blog</span>
            </NavLink>
        </li>
        <li class="">
            <a @onclick="TogglePlannerMeMenuDropdown" class="transition-colors duration-200 hover:bg-blue-100 h-16 px-6 items-center w-full flex">
                <svg class="h-5 w-5 "
                     viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg" aria-labelledby="title" aria-describedby="desc" role="img" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <title>Schedule Window</title>
                    <desc>A line styled icon from Orion Icon Library.</desc>
                    <circle data-name="layer2"
                            cx="8" cy="12" r="1" fill="none" stroke="#202020" stroke-linecap="round"
                            stroke-linejoin="round" stroke-width="2"></circle>
                    <circle data-name="layer2" cx="15" cy="12" r="1" fill="none"
                            stroke="#202020" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></circle>
                    <circle data-name="layer2" cx="22" cy="12" r="1" fill="none"
                            stroke="#202020" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></circle>
                    <path data-name="layer2" fill="none" stroke="#202020" stroke-linecap="round"
                          stroke-linejoin="round" stroke-width="2" d="M2 6h52v12H2zm52 22V18M2 18v32h30"></path>
                    <circle data-name="layer1" cx="46" cy="42" r="16" fill="none" stroke="#202020"
                            stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></circle>
                    <path data-name="layer1" fill="none" stroke="#202020" stroke-linecap="round"
                          stroke-linejoin="round" stroke-width="2" d="M46 34v10h8"></path>
                </svg>
                <span class="hidden md:block text-2xl pl-8">Planner</span>
            </a>
            <!-- Dropdown Body -->
            <div hidden="@HidePlannerMeMenuDropdown" @onmouseenter="OptionMenuMouseIn" @onmouseleave="OptionMenuMouseOut"
                 class="md:hidden border-2 absolute left-0 w-40 mt-2 py-2 bg-white border rounded-lg shadow-md">
                <ul class="text-right block">
                    <li class="transition-colors duration-200 hover:bg-blue-100"><a class="mr-8 w-max" href="#">Option 1</a></li>
                    <li class="transition-colors duration-200 hover:bg-blue-100"><a class="mr-8" href="#">Option 2</a></li>
                    <li class="transition-colors duration-200 hover:bg-blue-100"><a class="mr-8" href="#">Option 3</a></li>
                    <li class="transition-colors duration-200 hover:bg-blue-100"><a class="mr-8" href="#">Exit</a></li>
                </ul>
            </div>
            <div class="hidden md:block">
                <ul class="text-right block">
                    <li class="transition-colors duration-200 hover:bg-blue-100"><a class="mr-8 w-max" href="#">Option 1</a></li>
                    <li class="transition-colors duration-200 hover:bg-blue-100"><a class="mr-8" href="#">Option 2</a></li>
                    <li class="transition-colors duration-200 hover:bg-blue-100"><a class="mr-8" href="#">Option 3</a></li>
                    <li class="transition-colors duration-200 hover:bg-blue-100"><a class="mr-8" href="#">Exit</a></li>
                </ul>
            </div>
        </li>
        <li class="">
            <a @onclick="ToggleAboutMeMenuDropdown" class="transition-colors duration-200 hover:bg-blue-100 h-16 px-6 items-center w-full flex">
                <svg class="h-5 w-5 "
                     viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg" aria-labelledby="title" aria-describedby="desc" role="img" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <title>User</title>
                    <desc>A line styled icon from Orion Icon Library.</desc>
                    <path data-name="layer1"
                          d="M46 26c0 6.1-3.4 11.5-7 14.8V44c0 2 1 5.1 11 7a15.5 15.5 0 0 1 12 11H2a13.4 13.4 0 0 1 11-11c10-1.8 12-5 12-7v-3.2c-3.6-3.3-7-8.6-7-14.8v-9.6C18 6 25.4 2 32 2s14 4 14 14.4z"
                          fill="none" stroke="#202020" stroke-miterlimit="10" stroke-width="2" stroke-linejoin="round"
                          stroke-linecap="round"></path>
                </svg>
                <span class="hidden md:block text-2xl pl-8">About Me</span>
            </a>
            <!-- Dropdown Body -->
            <div hidden="@HideAboutMeMenuDropdown" @onmouseenter="OptionMenuMouseIn" @onmouseleave="OptionMenuMouseOut"
                 class="md:hidden border-2 absolute left-0 w-40 mt-2 py-2 bg-white border rounded-lg shadow-md">
                <ul class="text-right block">
                    <li class="transition-colors duration-200 hover:bg-blue-100"><a class="mr-8 w-max" href="#">CV</a></li>
                    <li class="transition-colors duration-200 hover:bg-blue-100"><a class="mr-8" href="#">Daily Carry</a></li>
                    <li class="transition-colors duration-200 hover:bg-blue-100"><a class="mr-8" href="#">Achievements</a></li>
                    <li class="transition-colors duration-200 hover:bg-blue-100"><a class="mr-8" href="#">Goals</a></li>
                </ul>
            </div>
            <div class="hidden md:block">
                <ul class="text-right block">
                    <li class="transition-colors duration-200 hover:bg-blue-100"><a class="mr-8 w-max" href="#">CV</a></li>
                    <li class="transition-colors duration-200 hover:bg-blue-100"><a class="mr-8" href="#">Daily Carry</a></li>
                    <li class="transition-colors duration-200 hover:bg-blue-100"><a class="mr-8" href="#">Achievements</a></li>
                    <li class="transition-colors duration-200 hover:bg-blue-100"><a class="mr-8" href="#">Goals</a></li>
                </ul>
            </div>
        </li>
    </ul>

    <div class="mt-auto h-16 flex items-center w-full">
        <!-- Bottom Section -->
    </div>
</aside>

@code {
    private bool HideAboutMeMenuDropdown { get; set; } = true;
    private bool HidePlannerMeMenuDropdown { get; set; } = true;

    private bool MouseIsInMenu { get; set; } = false;

    private void ToggleAboutMeMenuDropdown()
    {
        HideAboutMeMenuDropdown = !HideAboutMeMenuDropdown;
        HidePlannerMeMenuDropdown = true;
    }

    private void TogglePlannerMeMenuDropdown()
    {
        HideAboutMeMenuDropdown = true;
        HidePlannerMeMenuDropdown = !HidePlannerMeMenuDropdown;
    }

    void OptionMenuMouseIn()
    {
        MouseIsInMenu = true;
    }

    void OptionMenuMouseOut()
    {
        if (MouseIsInMenu)
        {
            HideAboutMeMenuDropdown = true;
            HidePlannerMeMenuDropdown = true;
        }

        MouseIsInMenu = false;
    }
}