<aside class="hidden lg:flex flex-col items-center bg-white text-gray-700 shadow h-full">
    <!-- Side Nav Bar-->

    <div class="h-16 flex items-center w-full">
        <!-- Logo Section -->
        <NavLink class="h-6 w-6 mx-auto" href="" Match="NavLinkMatch.All">
            <img class="h-6 w-6 mx-auto"
                 src="images/icon/icon-512.png"
                 alt="Open Book Logo" />
        </NavLink>
    </div>

    <ul>
        <!-- Items Section -->
        <li class="hover:bg-blue-100">
            <NavLink href="blog" class ="h-16 px-6 flex flex justify-center items-center w-full
                    focus:text-orange-500">
                <svg class="h-5 w-5" 
                     viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg" aria-labelledby="title" aria-describedby="desc" role="img" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <title>Feather</title>
                    <desc>A line styled icon from Orion Icon Library.</desc>
                    <path d="M51.491 12.509L2 62m19.938-19.939V26.517M32.41 31.59h16.651m-21.654 5.005h16.815"
                          stroke-width="2" stroke-miterlimit="10" stroke="#202020" fill="none" data-name="layer2"
                          stroke-linejoin="round" stroke-linecap="round"></path>
                    <path stroke-width="2" stroke-miterlimit="10" stroke="#202020"
                          fill="none" d="M42.1 21.9V8.169c-10.828 5.992-23.594 17.8-31.528 41.086l2.087 2.086 2.087 2.088C61.553 37.478 62 2 62 2a41.974 41.974 0 0 0-13.147 3.014l-6.634 16.767"
                          data-name="layer1" stroke-linejoin="round" stroke-linecap="round"></path>
                </svg>
            </NavLink>
        </li>       
    </ul>

    <div class="mt-auto h-16 flex items-center w-full">
        <!-- Bottom Section -->
    </div>
</aside>

@code {
}