<a href="#" class="transition-colors duration-200 block px-4 py-2 text-normal text-gray-600 rounded hover:bg-blue-100 ">
    Settings
</a>
<div class="py-2">
    <hr>
</div>
<a href="#" class="transition-colors duration-200 block px-4 py-2 text-normal text-gray-600 rounded hover:bg-blue-100 ">
    About
</a>